@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);
html,body{
  height: 100%;
  width: 100%;
  background: #e0e0e0;
  font-family: 'Raleway', sans-serif;
}
header{
  height: 100%;
  width: 100%;
  z-index: -23;
}
nav{
  position: fixed;
  z-index: 999;
}

.brand-logo{
  height: 100%;
}
.bold{
  font-weight: bold;
}
.slider{
  top: 65px;
}
.tab2 h2{
  font-size: 2em;
}
.slider .slides li .caption{
  top:46%;
}
.row {
  margin-bottom: 0;
}
.servicio{
  width: 35%;
}
.valor{
  width: 50%;
  padding: 40px;
}
.valor2{
  width: 65%;
  padding: 40px;
}
.lista{
  list-style-type: circle;
  padding: 20px;
  font-size: 1.5em;
}
.lista li:before{
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  margin-right: 10px;
  border-radius: 50%;
  background: black;
}
.row .col.s12{
  margin-bottom: 3em;
}
.parrafo{
  font-size: 1.5em;
}
footer.page-footer{
  margin-top: 0;
}
@media (max-width: 600px) {
  *{
    text-align: center;
  }
  .slider .slides li .caption{
    top: 20%;
  }
  nav .brand-logo{
    left: 58%;
  }
}
